name: leren_ai_bot_app
description: Leren is an AI digital human here to help you with anything that you need at campus, hit me up any time. You can ask her about colleges, hostels, restaurants, halls of residence, finding you course material, directions, weather, counseling, date and time and anything else about Muk Campus. Text her right away. If you need any help, ask Leren.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.2.1+4

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  animated_text_kit: ^4.2.1
  cupertino_icons: ^1.0.4
  bouncing_widget: ^2.0.0
  intl: ^0.17.0
  mime: ^1.0.1
  mailer: ^5.0.2
  open_file: ^3.2.1
  uuid: ^3.0.5
  flutter_screenutil: ^5.0.1+2
  flutter_inner_drawer: ^1.0.0+1
  flutter_svg: ^1.0.0
  http: ^0.13.4
  shared_preferences: ^2.0.11
  share: ^2.0.4
  provider: ^6.0.2
  google_maps_flutter: ^2.1.1
  #speech_to_text: ^5.4.2
  flutter_chat_ui:
    git: 
      https://github.com/RonnieZad/flutter_chat_ui

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - messages.json
    - assets/images/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
