<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524762943950-fvvbdi1geae3si03tbcgbo0372uhdbk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524762943950-fvvbdi1geae3si03tbcgbo0372uhdbk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCq2os2Biuv4882mJwvcDa4-7UC3Q1eeVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>524762943950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gleamstudios.lerenAiBotApp</string>
	<key>PROJECT_ID</key>
	<string>leren-6c4a9</string>
	<key>STORAGE_BUCKET</key>
	<string>leren-6c4a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524762943950:ios:1c73246b9ac7d8279f9b9f</string>
</dict>
</plist>